/*     <!-- Ensar Karabudak Tarafından Hazırlanmıştır. ensarkarabudak.com  -->  */

html,body{
  height: 100%;
}
#cover{

  background: url('.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.container{
  padding-top: 50%;
}
