<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">

</head>
<body>
    
    <button type="button" class="btn btn-outline-primary">Primary</button>

    <script src="bootstrap.min.js"> </script>
    <script src="jquery-3.2.1.min.js"> </script>
</body>
</html>